<!-- <div class="loader" [class.loader--active]="isLoading">
  <div class="loader__icon">
    <img src="assets/images/ketech_logo.png" alt="Loading..." class="spinner-icon">
    <p>Save Energy, Save Power</p>
  </div>
  <div class="loader__tile" *ngFor="let n of tiles"></div>
</div> -->

<!-- <div class="loader" [class.active]="isLoading">

  
  <div class="animated-bg">
    <span *ngFor="let tile of tiles" class="bg-tile"></span>
  </div>

  
  <div class="loader-center">
    <div class="energy-ring"></div>
    <img src="assets/images/ketech_logo.png" alt="Ketech Logo" class="logo" />
  </div>

  
  <p class="tagline">Save Energy, Save Power</p>
</div> -->

<div class="loader" [class.active]="isLoading">

   <div class="rain">
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
  </div>

  <!-- Fireflies -->
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>

  <!-- Birds -->
  <!-- <div class="bird"></div>
  <div class="bird"></div>
  <div class="bird"></div>
  <div class="bird"></div>
  <div class="bird"></div> -->
  <div class="bird-layer">
    <div class="bird"></div>
    <div class="bird"></div>
    <div class="bird"></div>
    <div class="bird"></div>
    <div class="bird"></div>
  </div>

  <!-- Shooting Stars -->
  <div class="shooting-star"></div>
  <div class="shooting-star"></div>
  <div class="shooting-star"></div>
  <div class="shooting-star"></div>
  <div class="shooting-star"></div>

  <div class="animated-bg">
    <span *ngFor="let tile of tiles" class="bg-tile"></span>
  </div>

  <div class="loader-center">
    <div class="energy-ring"></div>
    <img src="assets/images/ketech_logo.png" alt="Ketech Logo" class="logo" />
  </div>

  <p class="brand-headline">KE-TECH™</p>
  <p class="tagline">Save Energy, Save Power</p>
</div>



