<app-header></app-header>
<section class="team-section">
  <div class="container">
    
    <h2 class="section-title">Meet Our Professional Team</h2>
    <div class="title-underline"></div>

    <p class="section-description">
      Our team of industry experts strives to deliver top-quality energy solutions with innovation at every step.
    </p>

    <div class="row justify-content-center">

      <!-- Team Member Card 1 -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="team-card">
          <div class="team-img">
            <img src="assets/images/jatinpic.jpg" alt="Team Member 1">
          </div>
          <h4 class="team-name">Mr. Jatinkumar Khushalbhai Patel</h4>
          <p class="team-role">Founder & CEO</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="team-card">
          <div class="team-img">
            <img src="assets/images/jagupic.jpg" alt="Team Member 1">
          </div>
          <h4 class="team-name">Mrs. Jagruti Jatinkumar Patel</h4>
          <p class="team-role">Proprietor</p>
        </div>
      </div>

      <!-- Team Member Card 2 -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="team-card">
          <div class="team-img">
            <img src="assets/images/kppic.jpg" alt="Team Member 2">
          </div>
          <h4 class="team-name">Mr. Kush Jatinkumar Patel</h4>
          <p class="team-role">Technical Manager</p>
        </div>
      </div>

      <!-- Team Member Card 3 -->
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="team-card">
          <div class="team-img">
            <img src="assets/images/jppic.jpg" alt="Team Member 3">
          </div>
          <h4 class="team-name">Mr. 
            Jay Jatinkumar Patel</h4>
          <p class="team-role">Co-Owner</p>
        </div>
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>
