<div class="hero-industrial">
   <div class="sun-rays"></div>
   <div class="sun-rays layer2"></div>
   <div class="sun-rays layer3"></div>

  <!-- <div class="background-animation">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span class="sun-particle"></span>
    <span class="sun-particle"></span>
    <span class="sun-particle"></span>
    <span class="sun-particle"></span>
    <span class="sun-particle"></span>
  </div> -->

  <div class="hero-content">
    <h1 class="title">Karori Energy Technology™</h1>
    <h1 class="title2">The Group of Jay Krishna Automation</h1>
    <h2 class="subtitle">Powering Industries. Driving Innovation.</h2>
    <p class="tagline">
      From solar solutions to automation systems — we deliver technology that fuels progress.
    </p>
    <div class="cta">
      <a routerLink="/about" routerLinkActive="active-link" class="btn-industrial">LET'S GET STARTED ➔</a>
    </div>
  </div>

  <!-- <div class="hero-images">
    <img src="assets/images/solarinverter.png" class="product-img left" alt="">
    <img src="assets/images/vfd.png" class="product-img right" alt="">
  </div> -->  
</div>
